@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap");

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.installMetaMask {
  background-color: rgba(228, 60, 60, 0.822);
  color: #680101;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Cal Sans", sans-serif;
  padding: 8px 12px;
  margin: 10px 0;
  font-weight: 500;
  border-radius: 6px;
}

.connected {
  background-color: rgba(14, 158, 50, 0.885);
  color: #034509;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Cal Sans", sans-serif;
  padding: 8px 12px;
  margin: 10px 0;
  font-weight: 500;
  border-radius: 6px;
}

/* Save Contact button */
