.loginContainer {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.loginForm {
    border: 2px solid black;
    border-radius: 8px;
    width: 550px;
    padding: 5px 5px 15px 5px;
    height: auto;
    margin: 25px;
    color: black;
}
.loginForm .bar {
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.loginFormContent {
    margin: 10px 15px 2px;
}
label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
input {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    padding: 0px 8px;
    font-family: 'Courier New', Courier, monospace;
}
.LoginButton {
    width: 30%;
    font-size: 20px;
    background-color: black;
    margin: 15px auto;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 2px;
    color: white;
    padding: 0px 8px;
    font-family: 'Courier New', Courier, monospace;
}