@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap");

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}
.main {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.login ul {
  display: flex;
  justify-content: center;
}
.login ul li {
  margin: 15px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  background-color: #d9d9d9;
  border-radius: 5px;
  transition: 0.3s ease;
}

.login ul li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.SocialLogin {
  display: flex;
  font-size: 20px;
  margin: 15px;
  border: 1px solid rgb(172, 170, 170);
  border-radius: 4px;
  transition: 0.3s ease;
  align-items: center;
  margin: 12px 7px;
  height: 45px;
}
.SocialLogin .Image {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.SocialLogin .content {
  font-family: "Cal Sans";
  width: 70%;
}
.SocialLogin:hover {
  cursor: pointer;
}
.installMetaMask {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 60, 60, 0.822);
  font-size: 18px;
  font-family: "Cal Sans";
  color: rgb(104, 1, 1);
  height: 40px;
  border-radius: 6px;
}
.connected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 158, 50, 0.885);
  font-size: 18px;
  font-family: "Cal Sans";
  padding: 5px 10px;
  margin: 8px 0px 0px 0px;
  font-weight: 500;
  color: rgb(3, 69, 9);
  border-radius: 6px;
}
.connecting {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(153, 143, 6, 0.885);
  font-size: 18px;
  font-family: "Cal Sans";
  padding: 5px 10px;
  margin: 8px 0px 0px 0px;
  font-weight: 500;
  color: rgb(86, 81, 4);
  border-radius: 6px;
}
.newUserContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px 20px;
  align-items: center;
  border: 1px solid rgba(188, 188, 188, 0.61);
  border-radius: 4px;
}
.newUserContainer .newUserHeading {
  font-family: "Cal Sans";
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.newUserContainer .newUserContent {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  margin: 12px 0px;
  width: 100%;
  text-align: left;
}
.newUserContent input {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  margin: 12px 0px;
  padding: 1px 10px;
  width: 100%;
  text-align: left;
  border: 1px solid rgba(174, 174, 174, 0.558);
}
.newUserContent button {
  font-family: "Inter";
  font-size: 18px;
  width: fit-content;
  display: flex;
  margin: auto;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: rgba(141, 141, 141, 0.672);
  transition: 0.3s ease;
}
.newUserContent button:hover {
  transform: scale(1.1);
  cursor: pointer;
}