@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap");

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.DashboardHeader {
  display: flex;
  width: 90%;
  padding: 12px 0px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.DashboardHeader .nav ul {
  display: flex;
}
.DashboardHeader ul li {
  font-family: 'Inter';
  margin: 0px 10px;
  cursor: pointer;
  font-weight: 550;
  font-size: 19px;
}

.AccountRelatedOperations {
  width: 90%;
  display: flex;
  margin: auto;
  padding: 2px 5px;
  align-items: center;
}
.AccountRelatedOperations .getBalance {
  display: flex;
  padding: 2px 5px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
}
.AccountRelatedOperations .balance {
  display: flex;
  padding: 2px 5px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
}
.paymentOptions {
  width: 90%;
  display: flex;
  margin: auto;
  padding: 20px 5px;
  align-items: center;
  transition: 0.3s ease
}
.paymentOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  margin: 0px 20px;
  cursor: pointer;
}
.paymentOption .paymentImage {
  display: flex;
  align-items: center;
  height: 70px;
}
.paymentOption:hover {
  transform: scale(1.1);
}